apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: 491085410687.dkr.ecr.eu-central-1.amazonaws.com/toolkit-managed-repository:latest
        ports:
        - containerPort: 5000